<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="../css/bootstrap.min.css" rel="stylesheet"/>
<link href="../css/jquery-ui.min.css" rel="stylesheet"/>
<body>
<div class="row">
    <label for="attr" class="col-md-2 control-label">属性形式
    </label>
    <div class="col-md-2">
        <input type="text" class="form-control" date-picker>
    </div>
</div>
<div class="row">
    <label for="style" class="col-md-2 control-label">样式形式
    </label>
    <div class="col-md-2">
        <input type="text" class="form-control" date-picker>
    </div>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../js-action/app.js"></script>
<script src="../js-action/directives.js"></script>
<script src="../js-action/controllers.js"></script>
</html>